// Place all the styles related to the awt controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  border-top: 2px solid black;
  padding-top: 50px;
  h2 {
    padding: 10px;
    text-align:center;
  }
}