// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teams_table {
  width: 100%;
  border-collapse: collapse; 
  order-spacing: 0;
  margin: 0; 
  padding: 0;
  #awt_bar {
    background-color: DarkRed;
    .awt {
      a:link {color: white; text-decoration: underline; }
      a:active {color: white; text-decoration: underline; }
      a:visited {color: white; text-decoration: underline; }
      a:hover {color: white; text-decoration: none; }
      color:white;
    }
  }
  .awt_cat {
    text-align:center;
  }
}
.cat {
    border-bottom:1px solid black;
    padding-top:2px;
    padding-bottom:2px;

}
.cat2  {
    padding-top:2px;
    padding-bottom:2px;
}
.cat3  {
    padding-left:10px;
    padding-top:3px;
    padding-bottom:3px;
}
.cat3c  {
    padding-left:10px;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}
.cat4  {
    border-right:1px solid black;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
}
.cat5  {
    padding-left:25px;
    padding-top:2px;
    padding-bottom:2px;
}
.cat6  {
    border-right:1px solid black;
    border-bottom:1px solid black;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
}
