// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teams_table {
  width: 100%;
  border-collapse: collapse; 
  order-spacing: 0;
  margin: 0; 
  padding: 0;
  #awt_bar {
    background-color: DarkRed;
    .awt {
      a:link {color: white; text-decoration: underline; }
      a:active {color: white; text-decoration: underline; }
      a:visited {color: white; text-decoration: underline; }
      a:hover {color: white; text-decoration: none; }
      color:white;
    }
  }
  .awt_cat {
    text-align:center;
  }
}